<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<!--<add name="myConnectionString" connectionString="Data Source=(local);Initial Catalog=doctorSuggest;User Id=sa; password=yagnesh;  Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="myConnectionString" connectionString="Data Source=174.142.46.37;Initial Catalog=doctorSuggest;User Id=pankaj; password=Pankaj05;  Integrated Security=False" providerName="System.Data.SqlClient"/>
		<!--<add name="myConnectionString" connectionString="Data Source=NITESH-7EA84A55;Initial Catalog=doctorSuggest;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<add key="DomainName" value="http://www.pillsincart.com"/>
		<add key="ImageFolder" value="~/images/products/"/>
		<add key="ProductHtml" value="~/ProductMaster.html"/>
		<add key="blogImage" value="~/BlogImage/"/>
		<add key="DefaultLogoImg" value="generic_viagra.jpg"/>
		<add key="DefaultAddImg" value="generic_viagra.jpg"/>
		<add key="DefaultBigImg" value="generic_viagra.jpg"/>
		<add key="ValidImageType" value="gif|Jpg|png|jpeg"/>
		<!--first Height then pipe and then width-->
		<add key="HigthWidthLogoImg" value="110|120"/>
		<add key="HigthWidthAddImg" value="160|710"/>
		<add key="HigthWidthBigImg" value="160|710"/>
		<add key="MailFromId" value="yagneshdxt@gmail.com"/>
		<!--first EmailId then pipe and then Password-->
		<add key="MailFromCredentials" value="customerpillsincart2013@gmail.com|cialis12"/>
	</appSettings>
	<system.web>

		<customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
				<add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>
			<assemblies>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>

		<machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7 AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A281B"
					decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES"/>
		<httpHandlers>
			<add verb="*" path="*.htm" type="System.Web.UI.PageHandlerFactory"/>
			<add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
		</httpHandlers>
		<pages enableViewStateMac="false" enableEventValidation="false"></pages>
		<httpModules>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule"/>
		</httpModules>
		<httpRuntime requestValidationMode="2.0"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Userlogin.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
